<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_WinForms_Ex0.Properties.Settings.TSOOPEXConnectionString"
            connectionString="Data Source=tsoop.c6oo9thiejqr.us-east-1.rds.amazonaws.com;Initial Catalog=TSOOPEX;User ID=admin;Password=Geirby1799"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>